<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>管理后台控制中心</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/admin/css/font.css">
        <link rel="stylesheet" href="/admin/css/xadmin.css">
        <script src="/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/admin/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎管理员：
                                <span class="x-red">{$admin_info['admin_name']}</span>！当前时间:{:date('Y-m-d H:i:s')} &nbsp;&nbsp;管理后台责任重大，请谨慎操作!
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>会员数</h3>
                                        <p>
                                            <cite>12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>回复数</h3>
                                        <p>
                                            <cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>商品数</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
               
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">系统信息</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>管理后台版本</th>
                                        <td>1.0.18</td></tr>
                                    <tr>
                                        <th>服务器地址</th>
                                        <td>{$_SERVER['SERVER_ADDR']}</td></tr>
                                    <tr>
                                        <th>操作系统</th>
                                        <td>{:php_uname()}</td></tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>{$_SERVER['SERVER_SOFTWARE']}</td></tr>
                                    <tr>
                                        <th>PHP版本</th>
                                        <td>{:PHP_VERSION}</td></tr>
                                    <tr>
                                        <th>PHP运行方式</th>
                                        <td>{:php_sapi_name()}</td></tr>
                                    <tr>
                                        <th>MYSQL版本</th>
                                        <td>5.7.26</td></tr>
                                    <tr>
                                        <th>ThinkPHP</th>
                                        <td>{$think_version} </td></tr>
                                    <tr>
                                        <th>上传附件限制</th>
                                        <td>{:get_cfg_var('upload_max_filesize')}</td></tr>
                                    <tr>
                                        <th>执行时间限制</th>
                                        <td>{:get_cfg_var('max_execution_time')}s</td></tr>

                                    <tr>
                                        <th>内存消耗</th>
                                        <td>{:round(memory_get_usage()/1024/1024,2)}M</td></tr>
                                    
                                    <tr>
                                        <th>剩余空间</th>
                                        <td>{:round(disk_free_space('.')/1024/1024/1024,2)}G</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">开发团队</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>开发者</th>
                                        <td>yangphp(466146588@qq.com)  版权所有 </td></tr>
                                        <tr>
                                        <th>博客地址</th>
                                        <td>https://www.cnblogs.com/ypeih/ <a href="https://www.cnblogs.com/ypeih/" target="_blank">访问博客</a> </td></tr>
                                        <tr>
                                        <th>GitHub</th>
                                        <td>https://github.com/yangphp <a href="https://github.com/yangphp" target="_blank">访问GitHub</a> </td></tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>
                <div class="layui-col-md12">
                    <blockquote class="layui-elem-quote layui-quote-nm">
                    欢迎您使用 yangphp管理后台！
                    感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。</blockquote></div>
            </div>
        </div>
        </div>
    </body>
</html>