<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>权限列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/admin/css/font.css">
        <link rel="stylesheet" href="/admin/css/xadmin.css">
        <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
        <script src="/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/admin/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">管理员管理</a>
                <a>
                    <cite>权限管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" method="post"  action="/admin/admin/powerList">

                                  <div class="layui-input-inline layui-show-xs-block">
                                    <select name="parent_id" >
                                      <option value="">菜单分类</option>
                                      {foreach $data_lista as $val}
                                        <option value="{$val['id']}" {if $parent_id == $val['id']}selected{/if}>{$val['pname']}</option>
                                      {/foreach}
                                   </select>
                                  </div>

                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>搜索</button>
                                </div>
                            </form>
                            
                        </div>
                        <div class="layui-card-header">
                             <button class="layui-btn" onclick="xadmin.open('添加菜单','/admin/admin/powerAdd',700,500)"><i class="layui-icon"></i>添加菜单</button>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>
                                  
                                  <th width="50">ID</th>
                                  <th width="150">权限规则</th>
                                  <th>权限名称</th>
                                  <th width="50">排序</th>
                                  <th width="80">状态</th>
                                  <th width="250">操作</th>
                              </thead>
                              <tbody class="x-cate">
                                {foreach $data_list as $val}
                                <tr cate-id="{$val['id']}" fid="{$val['parent_id']}" >
                                  
                                  <td>{$val['id']}</td>
                                  <td> <i class="iconfont">{:base64_decode($val['picon'])}</i>  | admin</td>
                                  <td>
                                      <i class="layui-icon x-show" status='false'>&#xe625;</i>
                                      {$val['pname']}
                                  </td>

                                  <td>{$val['porder']}</td>
                                  <td>
                                    <input type="checkbox" name="switch"  lay-text="开启|停用"  {if $val['pstatus'] == 1}checked=""{/if} lay-skin="switch">
                                  </td>

                                  <td class="td-manage">
                                    <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','/admin/admin/powerEdit?id={$val['id']}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                    <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="xadmin.open('添加','/admin/admin/powerAdd?parent_id={$val['id']}',700,500)" ><i class="layui-icon"></i>添加子栏目</button>
                                    <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="item_del(this,'{$val['id']}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                  </td>
                                </tr>
                                    {foreach $val['child'] as $val2}
                                          <tr cate-id="{$val2['id']}" fid="{$val2['parent_id']}" >
                                            <td>{$val2['id']}</td>
                                            <td>admin/{$val2['pcontroller']}/{$val2['paction']}</td>
                                            <td>
                                               &nbsp;&nbsp;&nbsp;&nbsp;
                                              <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                              {$val2['pname']}
                                            </td>

                                            <td>{$val2['porder']}</td>
                                            <td>
                                              <input type="checkbox" name="switch"  lay-text="开启|停用"  {if $val2['pstatus'] == 1}checked=""{/if} lay-skin="switch">
                                            </td>

                                            <td class="td-manage">
                                              <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','/admin/admin/powerEdit?id={$val2['id']}',700,500)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                              <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="xadmin.open('添加','/admin/admin/powerAdd?parent_id={$val2['id']}',700,500)" ><i class="layui-icon"></i>添加子栏目</button>
                                              <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="item_del(this,'{$val2['id']}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                            </td>
                                          </tr>

                                          {foreach $val2['child'] as $val3}
                                            <tr cate-id="{$val3['id']}" ptype=3 fid="{$val3['parent_id']}" >
                                            <td>{$val3['id']}</td>
                                            <td>admin/{$val3['pcontroller']}/{$val3['paction']}</td>
                                            <td>
                                              
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                ├ {$val3['pname']}
                                            </td>

                                            <td>{$val3['porder']}</td>
                                            <td>
                                              <input type="checkbox" name="switch"  lay-text="开启|停用"  {if $val3['pstatus'] == 1}checked=""{/if} lay-skin="switch">
                                            </td>

                                            <td class="td-manage">
                                              <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','/admin/admin/powerEdit?id={$val3['id']}',700,500)" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                              
                                              <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="item_del(this,{$val3['id']})" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                            </td>
                                          </tr>

                                          {/foreach}
                                    {/foreach}
                                {/foreach}
                                
                               
                              </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
          layui.use(['form'], function(){
            form = layui.form;
            
          });

           /*删除*/
          function item_del(obj,id){
              layer.confirm('确认要删除吗？',function(index){
                  //发异步删除数据
                  
                  var sub_url = "/admin/admin/powerDel";
                  $.post(sub_url,{id:id},function(redata){
                      if(redata.status == 'SUCCESS')
                      {
                         $(obj).parents("tr").remove();
                         layer.msg('已删除!',{icon:1,time:1000});
                      }
                      else
                      {
                          layer.alert(redata.msg, {icon: 5});
                      }
                  },'json'); 


                  
              });
          }

          // 分类展开收起的分类的逻辑
          // 
          $(function(){
            //$("tbody.x-cate tr[fid!='0']").hide();
            $("tbody.x-cate tr[ptype='3']").hide();
            // 栏目多级显示效果
            $('.x-show').click(function () {
                if($(this).attr('status')=='true'){
                    $(this).html('&#xe625;'); 
                    $(this).attr('status','false');
                    cateId = $(this).parents('tr').attr('cate-id');
                    $("tbody tr[fid="+cateId+"]").show();
               }else{
                    cateIds = [];
                    $(this).html('&#xe623;');
                    $(this).attr('status','true');
                    cateId = $(this).parents('tr').attr('cate-id');
                    getCateId(cateId);
                    for (var i in cateIds) {
                        $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                    }
               }
            })
          })

          var cateIds = [];
          function getCateId(cateId) {
              $("tbody tr[fid="+cateId+"]").each(function(index, el) {
                  id = $(el).attr('cate-id');
                  cateIds.push(id);
                  getCateId(id);
              });
          }
   
        </script>
    </body>
</html>
