<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>管理员登录日志</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/admin/css/font.css">
        <link rel="stylesheet" href="/admin/css/xadmin.css">
        <script src="/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/admin/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">日志管理</a>
            <a>
              <cite>管理员登录日志</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" method="post" action="/admin/logs/adminLoginList">
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" value="{$start}" id="start">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" value="{$end}" id="end">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="admin_name"  placeholder="管理员账号" autocomplete="off" value="{$admin_name}" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                   <select name="login_status" >
                                      <option value="">登录状态</option>
                                      <option value="1" {if $login_status == 1}selected{/if}>登录成功</option>
                                      <option value="2" {if $login_status == 2}selected{/if}>登录失败</option>
                                      <option value="3" {if $login_status == 3}selected{/if}>退出登录</option>
                                   </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="login_ip"  placeholder="IP地址" autocomplete="off" value="{$login_ip}" class="layui-input">
                                </div>

                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                           
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table layui-form">
                                <thead>
                                  <tr>
                                    <th width="10%">
                                      <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                                    </th>
                                    <th width="10%">ID</th>
                                    <th width="20%">管理员ID/账号</th>
                                    <th width="10%">登录状态</th>
                                    <th width="10%">IP</th>
                                    <th width="20%">加入时间</th>
                                    <th>操作</th></tr>
                                </thead>
                                <tbody>
                                  {foreach $data_list as $val}
                                  <tr>
                                    <td>
                                      <input type="checkbox" name="id" value="{$val.id}"   lay-skin="primary"> 
                                    </td>
                                    <td>{$val.id}</td>
                                    <td>{$val.admin_id}/{$val.admin_name}</td>
                                     <td class="td-status">
                                      {if $val.login_status == 1}
                                      <span class="layui-btn layui-btn-normal layui-btn-mini">登录成功</span>
                                      {elseif $val.login_status == 2 /}
                                      <span class="layui-btn layui-btn-warning layui-btn-mini">登录失败</span>
                                      {else /}
                                      <span class="layui-btn layui-btn-danger layui-btn-mini">退出登录</span>
                                      {/if}
                                    </td>
                                    <td>{$val.login_ip}</td>
                                    <td>{$val.add_datetime}</td>
                                    <td class="td-manage">
                                     
                                      <a title="删除" onclick="item_del(this,'{$val.id}')" href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i>
                                      </a>
                                    </td>
                                  </tr>
                                  {/foreach}
                                
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                              {$page|raw}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data){

          if(data.elem.checked){
            $('tbody input').prop('checked',true);
          }else{
            $('tbody input').prop('checked',false);
          }
          form.render('checkbox');
        }); 
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });


      });

      

      /*删除*/
      function item_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              
              var sub_url = "/admin/logs/adminLoginDel";
              $.post(sub_url,{id:id},function(redata){
                  if(redata.status == 'SUCCESS')
                  {
                     layer.alert("删除数据成功!", {
                          icon: 6
                      },
                      function() {
                         
                         $(obj).parents("tr").remove();
                         layer.msg('已删除!',{icon:1,time:1000});
                      });
                  }
                  else
                  {
                      layer.alert(redata.msg, {icon: 5});
                  }
              },'json');  
          });
      }



      function delAll (argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
               ids.push($(this).val())
            }
        });
  
        layer.confirm('确认要批量删除吗？',function(index){
            
            var sub_url = "/admin/logs/adminLoginDel";
            $.post(sub_url,{ids:ids.toString()},function(redata){
                if(redata.status == 'SUCCESS')
                {

                  layer.msg('批量删除成功', {icon: 1});
                 $(".layui-form-checked").not('.header').parents('tr').remove();

            
                }
                else
                {
                    layer.alert(redata.msg, {icon: 5});
                }
            },'json');  

           
        });
      }
    </script>
</html>