<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>查看操作日志</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/admin/css/font.css">
        <link rel="stylesheet" href="/admin/css/xadmin.css">
        <script src="/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/admin/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">

               
               
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">管理员操作日志</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th width="30%">ID</th>
                                        <td>{$info['id']}</td>
                                    </tr>
                                    <tr>
                                        <th>管理员ID/账号</th>
                                        <td>{$info['admin_id']}/{$info['admin_name']}</td>
                                    </tr>
                                    <tr>
                                        <th>Url</th>
                                        <td>{$info['op_url']}</td>
                                    </tr>
                                    <tr>
                                        <th>Controller</th>
                                        <td>{$info['op_controller']}</td>
                                    </tr>
                                    <tr>
                                        <th>Action</th>
                                        <td>{$info['op_action']}</td>
                                    </tr>
                                    <tr>
                                        <th>请求参数</th>
                                        <td>{$info['op_param']}</td>
                                    </tr>
                                    <tr>
                                        <th>IP地址</th>
                                        <td>{$info['ip_address']}</td>
                                    </tr>
                                    <tr>
                                        <th>加入时间</th>
                                        <td>{$info['add_datetime']}</td>
                                    </tr>
                                   
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <style id="welcome_style"></style>
            </div>
        </div>
        </div>
    </body>
</html>